* {
  margin: 0;
}
.hide {
  display: none;
}
@media screen and (max-width: 576px) {
  main {
    padding: 0;
    margin: auto;
    width: 100vh;
  }
  header {
    padding: 50px 0;
    height: 300vh;
    min-width: 100vh;
  }
  nav h2,
  .header-description h1 {
    font-size: 15vh;
  }
  .header-description,
  .features-list-container h2,
  .features-list-container p {
    width: 100%;
  }
  nav {
    text-align: center;
    flex-direction: column;
    align-items: center;
  }
  nav ul {
    flex-direction: column;
    margin-top: 30px;
  }
  nav ul li {
    padding: 0;
  }
  .features-heading-container {
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
  }
  .features-heading-img {
    grid-template-columns: repeat(1, 1fr);
    gap: 24px;
    margin: auto;
  }
  .features-heading-description p {
    width: 100%;
  }
  .team {
    width: 100%;
    height: 100%;
  }
  .features-container {
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
  }
  .features-img {
    width: 200px;
    height: 700px;
    margin: auto;
    padding-top: 50px;
  }
  .features {
    margin: auto;
  }
  .features-list-container h2,
  .features-list-container p,
  .some-facts-container h2,
  .some-facts-container p,
  .sponsors p {
    width: 80vh;
  }
  .features-list-container p,
  .some-facts-container h2,
  .some-facts-container p,
  .sponsors {
    padding-left: 20px;
  }
  .feature-list {
    width: 70%;
    height: 15%;
    margin-left: 10px;
  }
  .feature-list p {
    width: 100%;
    height: 100%;
    padding: 10px;
  }
  .features-btn {
    padding-top: 40px;
    margin: auto;
    float: right;
  }
  .features-btn button {
    padding: 5px;
  }
  .features-btn button h1 {
    font-size: 30px;
  }
  .facts {
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
  }
  .some-facts-container {
    justify-content: center;
    width: 140px;
  }
  .fact {
    margin-left: 50px;
  }
  .services-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .sponsor-container {
    grid-template-columns: repeat(1, 1fr);
    margin: auto;
  }
  .footer {
    width: 300px;
    margin: auto;
  }
}
