* {
  margin: 0;
}
.hide {
  display: none;
}
@media screen and (max-width: 576px) {
  main {
    padding: 0;
    margin: auto;
  }
  header {
    padding: 50px 0;
    height: 855px;
  }
  nav h2,
  .header-description h1 {
    font-size: 30px;
  }
  .header-description {
    width: 100%;
  }
  nav {
    text-align: center;
    flex-direction: column;
    align-items: center;
  }
  nav ul {
    flex-direction: column;
    margin-top: 30px;
  }
  nav ul li {
    padding: 0;
  }
  .features-heading-container {
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
  }
  .features-heading-img {
    grid-template-columns: repeat(1, 1fr);
    gap: 24px;
    margin: auto;
  }
  .features-heading-description p {
    width: 100%;
  }
}
