* {
  margin: 0;
}
/* Header Section */
header {
  height: 1322px;
  background: rgba(255, 144, 14, 0.1);
  padding: 50px 240px;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav h2 {
  font-family: "Work Sans";
  font-weight: 700;
  font-size: 45px;
  color: #131313;
}
nav ul {
  display: flex;
}
nav ul li {
  list-style: none;
  padding-left: 50px;
}
nav ul li a {
  text-decoration: none;
  font-family: "Work Sans";
  font-weight: 500;
  font-size: 18px;
  color: #424242;
}
