* {
  margin: 0;
}
/* Header Section */
header {
  height: 1150px;
  background: rgba(255, 144, 14, 0.1);
  padding: 50px 150px;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav h2 {
  font-family: "Work Sans";
  font-weight: 700;
  font-size: 45px;
  color: #131313;
}
nav ul {
  display: flex;
}
nav ul li {
  list-style: none;
  padding-left: 50px;
}
nav ul li a {
  text-decoration: none;
  font-family: "Work Sans";
  font-weight: 500;
  font-size: 18px;
  color: #424242;
}
.header-description {
  width: 862px;
  text-align: center;
  margin: auto;
  margin-top: 116px;
  margin-bottom: 50px;
}
.header-description h1 {
  font-family: "Work Sans";
  font-weight: 700;
  font-size: 64px;
  color: #131313;
}
.header-description p {
  font-family: "Work Sans";
  font-weight: 400;
  font-size: 16px;
  color: #727272;
  padding: 32px 0;
}
.header-btn {
  width: 180px;
  height: 64px;
  background: #ff900e;
  border-radius: 8px;
  border: 0;
}
.header-btn h4 {
  font-family: "Work Sans";
  font-weight: 600;
  font-size: 20px;
  color: #ffffff;
}
.header-image img {
  width: 100%;
}
/* Main Section */
main {
  padding: 0px 150px;
}
/* Features Heading Section */
.features-heading-container {
  padding: 85px 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
  align-items: center;
}
.features-heading-img {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}
.team {
  width: 300px;
  height: 300px;
}
.team img {
  width: 100%;
}
.features-heading-description h2 {
  font-family: "Work Sans";
  font-size: 45px;
}
.features-color-1 {
  font-weight: 500;
  color: #727272;
}
.features-color-2 {
  font-weight: 700;
  color: #131313;
}
.features-color-3 {
  font-weight: 700;
  color: #ff900e;
}
.features-heading-description p {
  font-family: "Work Sans";
  font-weight: 400;
  font-size: 16px;
  color: #727272;
  margin-top: 24px;
  margin-bottom: 32px;
}
/* Features Section */
.features {
  margin-top: 45px;
  margin-bottom: 130px;
}
.features-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
  font-family: "Work Sans";
}
.features-container h2 {
  font-weight: 700;
  font-size: 45px;
  color: #131313;
  border-left: 5px solid #ff900e;
  padding-left: 20px;
}
.features-container p {
  font-weight: 400;
  font-size: 16px;
  color: #727272;
  margin-top: 24px;
}
.features-list-container {
  margin-top: 20px;
}
.feature-list {
  width: 470px;
  height: 100px;
  background: #ffffff;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  margin-top: 30px;
  padding: 20px;
}
.feature-list h4 {
  font-weight: 600;
  font-size: 20px;
  color: #131313;
}
.feature-list p {
  font-weight: 400;
  font-size: 16px;
  color: #727272;
  margin-top: 10px;
}
.features-img {
  width: 608px;
  height: 900px;
}
.features-img img {
  width: 100%;
}
.features-btn {
  width: 342px;
  height: 200px;
  font-family: "Work Sans";
  text-align: center;
  margin-left: -70px;
  margin-top: -100px;
}
.features-btn button {
  background: #ff900e;
  border-radius: 8px;
  border: 0;
  padding: 36px;
}
.features-btn h1 {
  font-weight: 700;
  font-size: 65px;
  color: #ffffff;
}
.features-btn h3 {
  font-weight: 500;
  font-size: 25px;
  color: #ffffff;
}
/* Some Facts Section */
.some-facts {
  margin-bottom: 150px;
}
.some-facts-container {
  font-family: "Work Sans";
}
.some-facts-container h2 {
  font-weight: 700;
  font-size: 45px;
  color: #131313;
}
.some-facts-container p {
  width: 542px;
  font-weight: 400;
  font-size: 16px;
  color: #727272;
  margin-top: 24px;
  margin-bottom: 100px;
}
.facts {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 75px;
  text-align: center;
}
.fact {
  width: 180px;
  height: 170px;
  border: 3px solid #ff900e;
  border-radius: 8px;
  padding: 40px 30px;
  /* transform: rotate(90deg); */
}
.fact h1 {
  font-weight: 600;
  font-size: 45px;
  color: #424242;
  margin-top: 10px;
}
.fact h4 {
  font-weight: 600;
  font-size: 20px;
  color: #727272;
  margin-top: 5px;
}
